.header_product_parents_block{
    width: 450px;
    height: auto;
    position: absolute;
    top: 27%;
    z-index: 2000;
    background-color: white;
    display: flex;

}
.header_product_block_card1{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 0px, rgba(0, 0, 0, 0.07) 0px 2px 0px, rgba(0, 0, 0, 0.07) 0px 4px 0px, rgba(0, 0, 0, 0.07) 0px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 0px;
}
.header_product_block_card1 p{
  color: #332f2f;
   font-weight: 400;
   height: 40px;
   letter-spacing: 0.7px;
   font-size: 12px;
   padding: 15px 0px 0px 10px;
}

.header_product_block_card1 p:hover{
    background-color: rgb(226, 233, 242);
    cursor: pointer;
    padding: 15px 0px 25px 10px;
    font-size: 13px;
    font-weight: 600;
}
.header_product_block_card2{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.header_product_block_card2 p{
    color: #332f2f;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-size: 12px;
    padding-left: 15px;
}
.header_product_block_card2 h5{
    padding: 12px 12px;
    font-weight: 500;
}





/* <i 
className="fa fa-angle-down"
style={{ 
  transform: isHovered ? 'rotate(180deg)' : 'rotate(0deg)',
  transition: 'transform 0.2s ease-in-out' 
}}
></i> */