@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');
/* @import '~@fortawesome/fontawesome-free/css/all.css'; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header2_main_block{
    width: 98%;
    height: 120px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
 .header2_sub_block{
    width: 79%;
    height: 85%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.header2_sub_block_card{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
}
.header2_sub_block_card img{
    width: auto;
    height: 80%;
}
.header2_sub_block_card p{
    /* padding-top: 7px; */
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
}
.header2_sub_block_card i{
    padding-left: 5px;
    font-weight:600;
    font-size: 20px;
}