@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.electronic_main_block{
    width: 98%;
    height: 340px;
    margin: 15px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.electronic_sub_block{
    width: 99%;
    height: 90%;
}
.elcetronic_sub_block_content{
    display: flex;
    justify-content: space-between;
}
.elcetronic_sub_block_content i{
    font-size: 20px;
    font-weight: 500;
    border-radius: 50%;
    width: 25px;
    height: 24px;
    background-color: blue;
    text-align: center;
    color: white;
    margin-right: 15px;
    padding-top: 2px;
}
.ecectronic_sub_block_card{
    width: auto;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 15px;
}
.electronic_sub_bloc_card_content{
    width: 12%;
    height: 100%;
}
.electronic_sub_bloc_card_content img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
/* img:hover{
    width: 98%;
    height: 98%;
} */

.electronic_sub_bloc_card_content img {
    transition: transform 0.3s;
    cursor: pointer;
  }

  .electronic_sub_bloc_card_content img:hover {
    transform: scale(1.08); 
  }

.electronic_sub_block_card_content_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}