@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.Header_main_block{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.Header_sub_block{
    width: 98%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header_sub_block_card_1{
    width: 13%;
    height: 90%;
    display: flex;
    align-items: center;
}
.Header_sub_block_card_2{
    width: 49%;
    height: 65%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(236, 243, 243);
}
.Header_sub_block_card_2 input{
    width: 90%;
    height: 85%;
    outline: none;
    background-color: rgb(236, 243, 243);
    border: none;
    font-size: 18px;
    font-weight: 400;
}
.Header_sub_block_card_2 i{
    padding: 0px 15px ;
    color: rgb(168, 166, 166);
    font-size: 24px;
}
.Header_sub_block_card_3{
    width: 10%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header_sub_block_card_4{
    width: 8%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header_sub_block_card_5{
    width: 12%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header_sub_block_card_6{
    width: 4%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header_sub_block img{
    padding: 0px 10px;
}
.Header_sub_block p{
   font-size: 18px;
}