@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.banner_main_block{
    width: 98%;
     height: 250px; 
    margin: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.banner_main_block i{
    width: 40px;
    height: 80px;
    background-color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding-top: 25px;
    
}